<img src="SQLite_logo.png" width="500" height="300" align="right"/>

# Create DataBase and Fill

In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
def data_to_sql():
    import SQLite_Server # data import (excute only once)

data_to_sql()

## Build Connection to DataBAse

In [3]:
to_server = r'.\My_Customer_Warehouse.db'

conn = sql.connect(to_server)
c = conn.cursor()

## Show tables in the database

In [4]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('agents',),
 ('company',),
 ('customer',),
 ('orders',),
 ('daysorder',),
 ('despatch',),
 ('foods',),
 ('listofitem',)]

## Create Additional Tables

In [5]:
create_students = """CREATE TABLE IF NOT EXISTS `student` (
  `NAME` varchar(30) NOT NULL,
  `TITLE` varchar(25) NOT NULL,
  `CLASS` varchar(5) NOT NULL,
  `SECTION` varchar(1) NOT NULL,
  `ROLLID` decimal(3,0) NOT NULL,
  PRIMARY KEY (`CLASS`,`SECTION`,`ROLLID`)
)"""


create_stud_reports ="""CREATE TABLE IF NOT EXISTS `studentreport` (
  `CLASS` varchar(5) NOT NULL,
  `SECTION` varchar(1) NOT NULL,
  `ROLLID` decimal(3,0) NOT NULL,
  `GRADE` varchar(5) NOT NULL,
  `SEMISTER` varchar(5) DEFAULT NULL,
  `CLASS_ATTENDED` decimal(25,0) DEFAULT NULL
 
)"""


c.execute(create_students)
c.execute(create_stud_reports)
conn.commit()

In [6]:
insert_stud = """INSERT INTO `student` (`NAME`, `TITLE`, `CLASS`, `SECTION`, `ROLLID`) VALUES
('Deepak                        ', 'Saxana                   ', 'V    ', 'A', '15'),
('Robert                        ', 'Paul                     ', 'VI   ', 'A', '2'),
('Danny                         ', 'Moris                    ', 'V    ', 'B', '15')"""

insert_repo ="""INSERT INTO `studentreport` (`CLASS`, `SECTION`, `ROLLID`, `GRADE`, `SEMISTER`, `CLASS_ATTENDED`) VALUES
('V    ', 'A', '15', 'A++  ', '1St  ', '75'),
('VI   ', 'A', '2', 'A+   ', '2Nd  ', '70'),
('V    ', 'B', '15', 'AA   ', '1St  ', '85'),
('VI   ', 'A', '2', 'A+   ', '1St  ', '70'),
('V    ', 'A', '15', 'AA   ', '2Nd  ', '85')"""

c.execute(insert_stud)
c.execute(insert_repo)
conn.commit()

In [7]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('agents',),
 ('company',),
 ('customer',),
 ('orders',),
 ('daysorder',),
 ('despatch',),
 ('foods',),
 ('listofitem',),
 ('student',),
 ('studentreport',)]

## Create a new table out of existing tables

In [8]:
query = """create table 'customer_analytics' as
        select orders.ORD_AMOUNT as AMOUNT,
        customer.CUST_NAME as NAME
        from orders 
        join customer
        on (orders.CUST_CODE = customer.Cust_Code)"""

c.execute(query)

In [9]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('agents',),
 ('company',),
 ('customer',),
 ('orders',),
 ('daysorder',),
 ('despatch',),
 ('foods',),
 ('listofitem',),
 ('student',),
 ('studentreport',),
 ('customer_analytics',)]

## Create new tables using Pandas

### Pandas read csv Method

In [10]:

df = pd.read_csv('Income_Expense_Data.csv', sep=',')
# # Write the new DataFrame to a new SQLite table
df.to_sql("Income_Expense_Data", conn, if_exists="replace")

### Pandas read json File

In [11]:
df_json = pd.read_json(r'.\online_shoppers_intention.json', orient=None)
df_json.to_sql("online_shoppers_intention", conn, if_exists="replace")

In [12]:
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
c.fetchall()

[('agents',),
 ('company',),
 ('customer',),
 ('orders',),
 ('daysorder',),
 ('despatch',),
 ('foods',),
 ('listofitem',),
 ('student',),
 ('studentreport',),
 ('customer_analytics',),
 ('Income_Expense_Data',),
 ('online_shoppers_intention',)]

In [13]:
conn.commit()
conn.close()